<a href="https://colab.research.google.com/github/ShaelinN/Basketball/blob/main/COMP721_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
root = "/content/drive/MyDrive/COMP721_Project"

In [3]:
data = os.path.join(root, "Data")

#TEAM

In [109]:
team_season = pd.read_csv(os.path.join(data, "team_season.csv"))
team_season.head()

  team  year leag  o_fgm  o_fga  o_ftm  ...  d_3pm  d_3pa  d_pts  pace  won  lost
0  BOS  1946    N   1397   5133    811  ...      0      0   3900   0.0   22    38
1  CH1  1946    N   1879   6309    939  ...      0      0   4471   0.0   39    22
2  CL1  1946    N   1674   5699    903  ...      0      0   4308   0.0   30    30
3  DE1  1946    N   1437   5843    923  ...      0      0   3918   0.0   20    40
4  NYK  1946    N   1465   5255    951  ...      0      0   3840   0.0   33    27

[5 rows x 36 columns]

##preprocessing:

* keep only NBA items
* combine win and loss counts into a single ratio
* drop unneeded columns

In [110]:
team_season = team_season.where(team_season["leag"]=="N")
team_season = team_season.dropna()
team_season = team_season.reset_index().drop("index",1)

win_rate = team_season["won"] / (team_season["won"]+team_season["lost"])
team_season["win_rate"] = win_rate

team_season = team_season.drop("won",1).drop("lost",1).drop("leag",1)

#if pd shows some cells in a column as ints, the entire column is ints. casting is safe
team_season.loc[:,"year":"d_pts"]= team_season.loc[:,"year":"d_pts"].astype(np.int64)
team_season.head()

  team  year  o_fgm  o_fga  o_ftm  ...  d_3pm  d_3pa  d_pts  pace  win_rate
0  BOS  1946   1397   5133    811  ...      0      0   3900   0.0  0.366667
1  CH1  1946   1879   6309    939  ...      0      0   4471   0.0  0.639344
2  CL1  1946   1674   5699    903  ...      0      0   4308   0.0  0.500000
3  DE1  1946   1437   5843    923  ...      0      0   3918   0.0  0.333333
4  NYK  1946   1465   5255    951  ...      0      0   3840   0.0  0.550000

[5 rows x 34 columns]

* MinMaxScaling on the data so the values in each feature are between 0 and 1

In [217]:
ts_vectors = team_season.loc[:,"o_fgm":] 
ts_vectors = np.array(ts_vectors)  #a consequence of including pace is that all values in this array are cast to floats

"""
# this is the wanted effect from feature scaling
# OMMITED because applying MimMaxScaler.fit_transform directly onto ts_vectors has the exact same result

table = np.copy(ts_vectors)
table = table.transpose()
for i in range(len(table)):
  col = table[i]
  col = np.array([col])
  col = col.transpose()

  col = MinMaxScaler().fit_transform(col)

  col = col.transpose()
  col = col[0]
  table[i] = col
table = table.transpose()
ts_vectors =  table

print(ts_vectors[0])
"""

ts_vectors = MinMaxScaler().fit_transform(ts_vectors)
print(ts_vectors[0])

[0.1427149  0.34989066 0.03907638 0.12767781 0.         0.
 0.         0.10691557 0.17447917 0.         0.         0.
 0.         0.         0.1011027  0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.1153896
 0.         0.33439153]

* formulate keys in the form <team , year> (as string to allow hashing)
* make a lookup/ dictionary to associate a feature vector with each key

In [ ]:
ts_id = [ 
         str(team_season["team"][i]) +" "+ str(int(team_season["year"][i]) ) 
         for i in range(   len(team_season["team"]) ) 
        ]
ts_id

lookup = {ts_id[i] : ts_vectors[i]   for i in range(len(ts_id))}
lookup["BOS 1946"]
print([i for i in lookup["BOS 1946"]])

#PLAYER

In [ ]:
player_rs_career = pd.read_csv(os.path.join(data, "player_regular_season_career.csv"))
player_rs_career.head()

       ilkid firstname      lastname leag    gp  ...    fgm   fta   ftm   tpa  tpm
0  ABDELAL01      Alaa     Abdelnaby    N   256  ...    620   321   225     3    0
1  ABDULKA01    Kareem  Abdul-jabbar    N  1560  ...  15837  9304  6712    18    1
2  ABDULMA01     Mahmo    Abdul-rauf    N   586  ...   3514  1161  1051  1339  474
3  ABDULTA01     Tariq   Abdul-wahad    N   236  ...    720   529   372    76   18
4  ABDURSH01   Shareef   Abdur-rahim    N   672  ...   4789  4427  3614   477  146

[5 rows x 21 columns]

In [ ]:
NBA_prsc = player_rs_career.where(player_rs_career["leag"]=="N")
NBA_prsc = NBA_prsc.dropna()

ABA_prsc = player_rs_career.where(player_rs_career["leag"]=="A")
ABA_prsc= ABA_prsc.dropna()

rem = player_rs_career.where(player_rs_career["leag"]!="A")
rem = rem.where(rem["leag"]!="N")
rem = rem.dropna()

In [ ]:
print(player_rs_career.shape)
print(NBA_prsc.shape)
print(ABA_prsc.shape)
print(rem.shape)

In [ ]:
NBA_prsc = NBA_prsc.drop("firstname",1)
NBA_prsc = NBA_prsc.drop("lastname",1)
NBA_prsc = NBA_prsc.drop("leag",1)
NBA_prsc = NBA_prsc.drop("ilkid",1)
NBA_prsc.head()

       gp  minutes      pts    oreb  ...     fta     ftm     tpa    tpm
0   256.0   3200.0   1465.0   283.0  ...   321.0   225.0     3.0    0.0
1  1560.0  57446.0  38387.0  2975.0  ...  9304.0  6712.0    18.0    1.0
2   586.0  15633.0   8553.0   219.0  ...  1161.0  1051.0  1339.0  474.0
3   236.0   4808.0   1830.0   275.0  ...   529.0   372.0    76.0   18.0
4   672.0  24862.0  13338.0  1498.0  ...  4427.0  3614.0   477.0  146.0

[5 rows x 17 columns]

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
model = KMeans(verbose=True)
model.fit(NBA_prsc)